%table.table.table-hover
  %thead
    %tr
      %th Card
      %th Expansion
      %th Owned
      %th
  %tbody
    - cards.each do |card|
      %tr{id: card.id}
        %td.card-name= link_to card.name, mtg_db_card_path(card.id)
        %td.card-expansion= link_to card.cardSetId, ""
        %td.amount-owned= card.owned
        %td.plus-minus-button-container
          = button_to "+", { action: "add_to_collection", id: card.id }, remote: true, class: 'btn btn-primary btn-plus-minus', form_class: 'form-inline'
        %td.plus-minus-button-container
          = button_to "-", { action: "deduct_from_collection", id: card.id }, remote: true, class: 'btn btn-primary btn-plus-minus', form_class: 'form-inline'
