%table.table.table-hover
  %thead
    %tr
      %th Card
      %th Expansion
      %th Owned
      %th
      %th
      %th
  %tbody
    - cards.each do |card|
      %tr{id: card.id}
        %td.card-name= link_to card.name, mtg_db_card_path(card.id)
        %td.card-expansion= link_to card.cardSetId, mtg_db_set_path(card.cardSetId)
        %td.amount-owned
          = card.owned_and_available
        %td.plus-minus-button-container
          = button_tag "+", { id: "btn-add-#{card.id}", 
              class: 'btn btn-primary btn-toggle-form', data: {target: "#add-form-#{card.id}"}}
        %td.plus-minus-button-container
          = button_tag "Borrow", { id: "btn-borrow-#{card.id}", 
              class: 'btn btn-primary btn-toggle-form', data: {target: "#loan-form-#{card.id}"}}
      %tr{id: "loan-form-#{card.id}", hidden: true}
        %td{colspan: 6}
          = render 'borrow_form', card: card
      %tr{id: "add-form-#{card.id}", hidden: true}
        %td{colspan: 6}
          = render 'add_to_collection', card: card, conditions: @conditions
