%h1 
  = @card.name
.row
  .col-xs-2 
    %strong Mana cost
  .col-xs-6
    = @card.manaCost
.row
  .col-xs-2
    %strong Type
  .col-xs-6
    = @card.type
    - if @card.subType
      = " - #{@card.subType}"
.row
  .col-xs-2 
    %strong Expansion
  .col-xs-6
    = @card.cardSetId
- if @card.creature?
  .row
    .col-xs-2
      %strong P/T
    .col-xs-6
      = "#{@card.power} / #{@card.toughness}"
- if @card.planeswalker?
  .row
    .col-xs-2
      %strong Loyalty
    .col-xs-6
      = @card.loyalty
%br
.row 
  .col-xs-6
    .img-col
      %img(src="http://api.mtgdb.info/content/card_images/#{@card.id}.jpeg")
  .col-xs-6
    %p
      = @card.description
.row
  - if @card.rulings && !@card.rulings.empty?
    .col-xs-12 
      %h3 Rulings
      - @card.rulings.each do |ruling|
        .row
          .col-xs-2
            = ruling['releasedAt']
          .col-xs-10
            = ruling['rule']
        
