<h1>Listing expansions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expansions.each do |expansion| %>
      <tr>
        <td><%= expansion.name %></td>
        <td><%= link_to 'Show', expansion %></td>
        <td><%= link_to 'Edit', edit_expansion_path(expansion) %></td>
        <td><%= link_to 'Destroy', expansion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expansion', new_expansion_path %>
