<h2><%= @user.username %></h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Card</th>
    <th>Expansion</th>
    <th>Number</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @user.owned_cards.each do |owned_card| %>
    <tr>
      <td><%= link_to owned_card.card, printing_path(owned_card.printing) %></td>
      <td><%=	link_to owned_card.expansion, owned_card.expansion %></td>
      <td><%= owned_card.number %></td>
      <% if @user == current_user %>
        <td><%= link_to 'Edit', edit_owned_card_path(owned_card) %></td>
        <td><%= link_to 'Destroy', owned_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
