.row
  .col-md-12
    = form_for(@owned_card, class: 'form-inline') do |f|
      - if @owned_card.errors.any?
        #error_explanation
          %h2
            = pluralize(@owned_card.errors.count, "error")
            prohibited this owned card from being saved:
          %ul
            - @owned_card.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        %h3= @owned_card.name_with_expansion
      .form-group
        = f.label :condition
        = f.select :condition, @conditions, class: 'form-control'
      .form-group
        = f.label :number
        = f.number_field :number, class: 'form-control'
      .form-group
        = f.label :note
        = f.text_area :note, class: 'form-control'
      .form-group
        = f.submit(class: 'btn btn-primary')
