<h1>Listing owned_cards</h1>

<table>
  <thead>
    <tr>
      <th>Expansion card</th>
      <th>User</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @owned_cards.each do |owned_card| %>
      <tr>
        <td><%= owned_card %></td>
        <td><%= owned_card.number %></td>
        <td><%= link_to 'Show', owned_card %></td>
        <td><%= link_to 'Edit', edit_owned_card_path(owned_card) %></td>
        <td><%= link_to 'Destroy', owned_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owned card', new_owned_card_path %>
