%h1 My Collection
.row
  .col-md-12
    = render 'shared/search_form', url: owned_cards_path
.row
  .col-md-12
    = link_to 'Show all', owned_cards_path
.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th Card
          %th Expansion
          %th Number
          %th Condition
          %th Note
          %th
          %th
      %tbody
        - @owned_cards.each do |owned_card|
          %tr{id: owned_card.id }
            %td= link_to owned_card.name, edit_owned_card_path(owned_card.id)
            %td= link_to owned_card.expansion, mtg_db_set_path(owned_card.expansion.code)
            %td.amount-owned= owned_card.number
            %td.card-condition= owned_card.condition
            %td.card-note= owned_card.note
            %td.plus-minus-button-container
              = button_to "+", { action: "add", 
                  id: owned_card.id }, 
                  remote: true, class: 'btn btn-primary btn-plus-minus', form_class: 'form-inline'
            %td.plus-minus-button-container
              = button_to "-", { action: "deduct", 
                  id: owned_card.id }, 
                  remote: true, class: 'btn btn-primary btn-plus-minus', form_class: 'form-inline'
    %br/
    = will_paginate @owned_cards
