%h1 My Collection
%table.table.table-hover
  %thead
    %tr
      %th Card
      %th Expansion
      %th Number
      %th
      %th
  %tbody
    - @owned_cards.each do |owned_card|
      %tr
        %td= link_to owned_card.card, mtg_db_card_path(owned_card.printing.multiverse_id)
        %td= owned_card.expansion
        %td= owned_card.number
        %td= link_to 'Edit', edit_owned_card_path(owned_card)
        %td= link_to 'Destroy', owned_card, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Owned card', new_owned_card_path
= will_paginate @owned_cards
