= form_for @loan do |f|
  - if @loan.errors.any?
    .row
      .col-md-12
        #error_explanation
          %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
          %ul
            - @loan.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    %h3.form-control-static
      = @loan.printing
      = " *FOIL*" if @loan.foil
  .form-group
    = f.label(:owner, class: 'control-label')
    %p.form-control-static
      = @loan.owner || @loan.owner_name
  .form-group
    = f.label(:borrower, class: 'control-label')
    %p.form-control-static
      = @loan.borrower || @loan.borrower_name
  .form-group
    = f.label :number
    = f.number_field :number, class: 'form-control'
  .form-group
    = f.label :note
    = f.text_area :note, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'

