%h1 My loans

%table.table.table-hover
  %tr
    %th Card
    %th Borrower
    %th Number
    %th Note
    %th
    %th
    %th

  - @loans.each do |loan|
    %tr
      %td= loan.owned_card
      %td= loan.borrower
      %td= loan.number
      %td= loan.note
      %td= link_to 'Show', loan
      %td= link_to 'Edit', edit_loan_path(loan)
      %td= link_to 'Destroy', loan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Loan', new_loan_path
