%h1 New loan

= form_for @loan do |f|
  - if @loan.errors.any?
    .row
      .col-md-12
        #error_explanation
          %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
          %ul
            - @loan.errors.full_messages.each do |msg|
              %li= msg

  .row
    .col-md-4
      .form-group
        = f.label :owner
        - if @loan.owner.nil?
          = f.select(:owner_id, @users)
        - else
          %p.form-control-static
            = @loan.owner
    .col-md-4
      .form-group
        = f.label :borrower_id
        - if @loan.borrower.nil?
          = f.select(:borrower_id, @users)
        - else
          %p.form-control-static
            = @loan.borrower
  .row
    .col-md-4
      .form-group
        = f.label :note
        = f.text_field :note
  .actions
    = f.submit 'Save'

= link_to 'Back', loans_path
