.row
  .col-md-12
    %h3= link_to @loan.card, mtg_db_card_path(@loan.printing.multiverse_id)
.row
  .col-md-12
    %b Owner
.row
  .col-md-12
    = @loan.owner
.row
  .col-md-12
    %b Borrower
.row
  .col-md-12
    = @loan.borrower
.row
  .col-md-12
    %b Number
.row
  .col-md-12
    = @loan.number
.row
  .col-md-12
    %b Note
.row
  .col-md-12
    = @loan.note

%br
= link_to 'Edit', edit_loan_path(@loan)
\|
= link_to 'Back', loans_path
