<h1>Listing expansion_cards</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Expansion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expansion_cards.each do |expansion_card| %>
      <tr>
        <td><%= expansion_card.card_id %></td>
        <td><%= expansion_card.expansion_id %></td>
        <td><%= link_to 'Show', expansion_card %></td>
        <td><%= link_to 'Edit', edit_expansion_card_path(expansion_card) %></td>
        <td><%= link_to 'Destroy', expansion_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expansion card', new_expansion_card_path %>

<%= will_paginate @expansion_cards %>
