<h1>Card Search</h1>

<%= form_tag printings_path, method: 'get' do %>
  Name <%= text_field_tag :name, params[:name] %>
  Expansion <%= text_field_tag :expansion, params[:expansion] %>
  <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
<% end %>

<% if @printings %>
  <%= render 'list', :printings => @printings %>
<% end %>

<%= will_paginate @cards %>
