%h1 
  = @expansion.name
.row
  .col-xs-2
    %strong Id
  .col-xs-6
    = @expansion.id
.row
  .col-xs-2
    %strong Block
  .col-xs-6
    = @expansion.block
.row
  .col-xs-2
    %strong Released
  .col-xs-6
    = @expansion.releasedAt
%br
.row
  .col-md-12
    %p
      = @expansion.description
.row
  .col-md-12 
    %h3 Cards
    .row
      .col-xs-4
        %ul.list-unstyled
          - count = @expansion.cards.length-1
          - for i in 0..count/3 do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
      .col-xs-4
        %ul.list-unstyled
          - for i in count/3+1..count-count/3 do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
      .col-xs-4
        %ul.list-unstyled
          - for i in count-count/3..count do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
