%h1 
  = @expansion.name
.row
  .col-md-12
    %dl.dl-horizontal
      %dt Id
      %dd= @expansion.id
      %dt Block
      %dd= @expansion.block
      %dt Released
      %dd= @expansion.releasedAt
.row
  .col-md-12
    %p
      = @expansion.description
.row
  .col-md-12 
    %h3 Cards
    .row
      .col-xs-4
        %ul.list-unstyled
          - count = @expansion.cards.length-1
          - for i in 0..count/3 do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
      .col-xs-4
        %ul.list-unstyled
          - for i in count/3+1..count-count/3 do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
      .col-xs-4
        %ul.list-unstyled
          - for i in count-count/3..count do
            %li
              - card = @expansion.cards[i]
              = link_to card.name, mtg_db_card_path(card.id)
