- if cards
  %table#search-list-table.table.table-hover
    %thead
      %tr
        %th Card
        %th Expansion
        %th Owned
        %th Foil
    %tbody
      - cards.each do |card|
        %tr{id: card.id}
          %td.card-name= link_to card.name, mtg_db_card_path(card.id)
          %td.card-expansion= link_to card.cardSetId, ""
          %td.amount-owned
            = card.owned_and_available
          %td
            = form_tag({ controller: 'traded_cards', action: 'create_or_update' }, |
                { class: 'form-inline', remote: true, format: :js }) do |f|        |
              .checkbox-inline
                %label
                  = check_box_tag(:foil)
              = hidden_field_tag(:multiverse_id, card.id)
              = hidden_field_tag(:trade_id, trade.id)
              = hidden_field_tag(:number, 1)
              = button_tag('Mine', class: 'btn btn-primary', name: 'mine', id: 'add-my-card')
              = button_tag('Theirs', class: 'btn btn-primary', name: 'theirs', id: 'add-their-card')
