.row
  .col-md-4
    = label_tag(:user)
    = @trade.user
  .col-md-4
    = label_tag(:partner)
    = @trade.partner
  .col-md-4
    = label_tag(:date)
    = @trade.date
.row
  .col-md-12
    = @trade.note
