<h1>Editing trade</h1>

<%= render 'form' %>

<div id="card-list">
<%= render 'traded_cards', cards: @trade.traded_cards %>
</div>

<%= form_tag('/data/add_traded_card', remote: true) do %>
  <%= text_field_tag('new-traded-card', nil, class: 'typeahead') %>
  <%= hidden_field_tag('printing_id') %>
  <%= hidden_field_tag('trade_id', @trade.id) %>
  <%= submit_tag 'Add', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Show', @trade %> |
<%= link_to 'Back', trades_path %>
