%h1 Editing trade
.row
  .col-md-8
    = render 'show_details'
  .col-md-2
    = link_to 'Edit Details', edit_details_trade_path(@trade), class: 'btn btn-primary'
  .col-md-2
    = link_to 'Update Collection',
          execute_trade_path(@trade), class: 'btn btn-primary', method: :post
.row
  .col-md-12
    %hr/
.row
  .col-md-12
    .row
      .col-md-6
        #my-cards
          %h2 Mine
          = render 'traded_cards', rows: @trade.my_side
      .col-md-6
        #their-cards
          %h2 Theirs
          = render 'traded_cards', rows: @trade.their_side
.row
  .col-md-12
    %h3 Add Cards
    .row
      .col-md-12
        = form_tag({ controller: 'trades', action: 'list_cards' }, { class: 'form-inline', method: 'get', remote: true }) do
          .form-group
            = label_tag(:card_name, nil, class: 'sr-only')
            = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Card Name'
          .form-group
            = label_tag(:expansion, nil, class: 'sr-only')
            = text_field_tag :expansion, params[:expansion], class: 'form-control', placeholder: 'Expansion'
          .form-group
            = submit_tag "Search", name: nil, class: 'btn btn-primary'
.row
  .col-md-12#search-list
    = render 'search_list', { :cards => @cards, :trade => @trade }
.row
  .col-md-12
    %h3 Add Money
    = form_tag(create_or_update_payments_path, class: 'form-inline', remote: true) do
      .form-group
        = number_field_tag('payment[amount]', nil, { class: 'form-control' })
      = hidden_field_tag('payment[trade_id]', @trade.id)
      = submit_tag 'Add Mine', class: 'btn btn-primary', name: 'mine'
      = submit_tag 'Add Theirs', class: 'btn btn-primary', name: 'theirs'
.row
  .col-md-12
    %br/
    = link_to 'Show', @trade
    |
    \#{link_to 'Back', trades_path}

