<p>
  <strong>User:</strong>
  <%= @trade.user %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @trade.partner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trade.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @trade.note %>
</p>

<div class="row">
  <div class="col-md-6">
    <div id="my-cards">
      <h2>Mine</h2>
      <%= render 'show_traded_cards', rows: @trade.my_side %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="their-cards">
      <h2>Theirs</h2>
      <%= render 'show_traded_cards', rows: @trade.their_side %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
