<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trade.user_id %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @trade.partner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trade.date %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
